h1{
    font-size: 28px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1.name_tag_h1{
    position: relative;
    float: left;
    width: auto;
    margin: 0 0 0 0px;
    padding: 25px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}
div.name_tag_div{
    text-align: center;
}

div.background_only{
    background-image: url("../images/papyrus.png");
}

div.background_border{
    border-top: 2px solid #cccccc;
}



div.container{
    padding: 0;
}

div.nav-margin{
    margin-top: 20px;
}

div.paragraph_container{
    background-color: #ffffff;
    height: auto;
    margin: 0px 0px;
    padding: 20px 0 20px 0;
    overflow: visible;
}

div.paragraph_image_wrapper{
    position: relative;
    clear: both;
    border-top: 2px solid #dddddd;
    margin: 20px;
    padding-top: 25px;
    height: auto;
}

h1.paragraph_headline{
    float: left;
    color: #4aaaa5;
    clear: both;
    padding-left: 20px;
}

img.me_image{
    float: left;
    padding-right: 15px;
    padding-top: 5px;
    width: 200px;
    height: auto;
}

img.project_image{
    width: 250px;
    height: auto;
}

div.portfolio_image{
    float: left;
    position: relative;
    margin: 20px 20px 0 20px;
    border-radius: 30px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

a.link{
    position: relative;
    float: left;
    color:#777777;
    text-decoration: none;
}

a:hover{
    background-color: #777777;
    color: #ffffff;
}

a.left_link, a.right_link{
    padding: 0 15px 0 15px;
    margin: 0;
}

a.center_link{
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    padding: 0 15px 0 15px;
}

a.text_link{
    color:#777777;
}

a.text_link:hover{
    color: #ffffff;
}

p{
    color: #777777;
    line-height: 1.5;
    margin: 0;
    padding-right: 10px;
}

div.project_div{
    float: left;
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 23px;
}

div.project_div:hover{
    background-color: #283635;
}

div.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #ffffff;
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
    text-align: center;
    padding-top: 10px;
}

div.placeholder{
    height: 70px;
    width: 100%;
    float: left;
}

@media screen and (max-width: 768px){
    img.me_image{
        float: left;
        padding-right: 15px;
        padding-top: 5px;
        width: 100%;
        height: auto;
    }

    h1.name_tag_h1{
        width: 100%;
        margin-left: 0;
    }

    div.paragraph_container{
        margin-left: 40px;
        margin-right: 40px;
    }

    img.project_image{
        width: 100%;
        height: auto;
    }
  }
  